{% block menu %}
<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">

      <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar collapsed" type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a href="{{ path('homepage') }}" class="brand">Project</a>

      <div class="nav-collapse collapse" >
        <ul class="nav">

          <li class="">
            <a href="{{ path('homepage') }}">Home</a>
          </li>

          <li class="">
            <a href="#">About</a>
          </li>

          <li class="">
            <a href="#">Contact</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}